<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.BookMapper">

    <select id="list" resultType="com.itheima.pojo.Book">
        select * from book
        <where>
            <if test="name != null">name like concat('%', #{name}, '%')</if>
            <if test="statusId != null">and status_id = #{statusId}</if>
            <if test="categoryId != null">and category_id = #{categoryId}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
        </where>
        order by create_time
    </select>

</mapper>